PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/akm_lms
ACCESS_TOKEN_SECRET=akm_super_secret_access_token_jwt_2026_xYz
REFRESH_TOKEN_SECRET=akm_super_secret_refresh_token_jwt_2026_AbC
NODE_ENV=development
CLIENT_URL=http://localhost:3000
